.dashboard-header {
  height: 62px;
  padding: 12px;
  gap: 10px;
  border-radius: 6px;
  opacity: 1;
  background: #ffffff;
  box-shadow: 0px 2px 3px 0px #0000001a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.dashboard-header select {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #333;
}

.talkTime h2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}
.talkTime p {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #969696;
  margin-top: 2px;
}

.talkTime p span {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #222222;
}

.OptionSelect {
  width: 115px;
  height: 32px;
  gap: 10px;
  opacity: 1; /* Ensure opacity is between 0 and 1 */
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 7px 16px;
}

.dashboard-content{
  margin-top: 22px;
}
